<div>
    {{vm.errorMessage}}


    <form class="form-horizontal" ng-submit="vm.login()">
        <fieldset>
            <!-- Form Name -->
            <legend>Enter your credentials</legend>
            
            <div class="alert alert-warning" role="alert" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>

            <!-- email input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-4">
                    <input type="text" placeholder="enter your email" class="form-control input-md" ng-model="vm.email">
                </div>
            </div>

            <!-- passw input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Passw</label>
                <div class="col-md-4">
                    <input type="password" placeholder="enter your password" class="form-control input-md" ng-model="vm.password">
                </div>
            </div>
           
            <!-- Button -->
            <div class="control-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" >Login</button>
                </div>
            </div>

        </fieldset>
     </form>
</div>